{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'chatbot_tutorial/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatbot_tutorial/css/user.css' %}">

    <title>User</title>
</head>
<body>
    <div>
        <div class="row intro">
            <div class="col-md-8">
                <ul class="dynamic-text">
                    <li><span>Hello! Welcome to Yo Mama Chatbot!</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="form-section">
                <div class="col-md-8 col-sm-12 form-section-header">
                    <span class="form-header-label">Please Enter your name to proceed to the chat</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-section">
                <div class="col-md-8 col-sm-12 ">
                    <form action="/chat" class="form-inner"
                          name="nameForm" onSubmit="return validateForm()" >
                        <div >
                            <label for="formName" class="form-label">Enter Your Name: </label>
                            <input type="text" class="form-input" id="formName" name="name" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'chatbot_tutorial/js/internal-chatbox.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>