body{
    background-color:#b3cccc;
}
.intro{
    min-height:30vh;
    justify-content: center;
    display: flex;
    margin-top:10%;
}

.form-section{
    justify-content: center;
    display: flex;
}

.form-section-header{
    font-size:20px;
    margin-bottom:5px;
}

.form-header-label{
    font-size:3vh;
}

.dynamic-text{
    padding:0;
}

.form-input{
    height: 5vh;
    border-radius: 3px;
    border: 1px solid white;
    margin-right: 2vh;
}
.form-label{
    font-size:16px;
}

.dynamic-text li{
    color:black;
    list-style:none;
    font-size:35px;
    font-weight:700;
}

.dynamic-text li span{
    position:relative;
}

.dynamic-text li span::after{
    position: absolute;
    content:"";
    left: 0;
    height:100%;
    width:100%;
    background: #b3cccc;
    border-left: 2px solid #b3cccc;
    animation: typing 4s steps(45) infinite;
}

@keyframes typing{
    100%{
        left:100%;
    }
}

.form-inner{
    display:flex
}